 body{
        background-color: rgba(95, 158, 160, 0.322);
    }
    *{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin: 0;
        padding: 0;
    }
    .Navbar-brand{
        font-size: 40px;
    }
 img{
    width: 300px;
    padding: 15px;
 }
 .img{
    width: 500px;
    height: 500px;
 }
 .main{
    background-color:white ;
 }
 .main div{
    display: flex;
    text-align: center;
    align-items: center;
    margin: 5px;
 }
 .background{
    background-image: url(IMAGE/technology.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
 }
 .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    height: 100vh;
    text-align: center;
 }
 .laptops{
    min-width: 250px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    height: 200px;
    line-height: 200px;
    display: flex;
   }
   a :hover{
      background-color: darkred;
      color: aliceblue;
   }
   a{
      transition: 1.5ms;
   }
   footer{
      background-color: black;
      padding: 10px;
   }
  